{% extends 'base.html.twig' %}

{% block title %}Игра{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/crossword/crossword.css') }}">
    <link rel="stylesheet" href="{{ asset('css/crossword/crosswordAnimated.css') }}">
{% endblock %}

{% block body %}
    <a href="{{ path('homepage') }}">
        <div id="go_back"><i class="fas fa-arrow-alt-circle-left"></i></div>
    </a>
    <div id="main_container" class="container">
        <div id="widgets">
            <div data-toggle="modal" data-target="#additional_words_modal" id="additional_word_panel">
                <i class="fas fa-plus-circle"></i>
                <span id="counter_not_in_crossword_word">0</span>
            </div>
            <div id="main_word_panel">
                <span id="counter_in_crossword_word">0</span>/{{ crossword_info_in_array['wordsInCrossword'] }}
            </div>
        </div>
        <div class="row">
            <div id="crossword">
                {% set number = 0 %}
                {% for h in 0..crossword.height-1 %}
                    <div data-row="{{ h }}" class="row">
                        {% for w in 0..crossword.width-1 %}
                            <div data-number="{{ number }}" class="cell"></div>
                            {% set number = number + 1 %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div id="controller">
                <div id="display"></div>
                <div id="chars_for_enter" class="row">
                    {% for char in crossword.chars|split('') %}
                        <button data-char="{{ char }}" class="char_for_enter">{{ char }}</button>
                    {% endfor %}
                </div>
                <div id="log_window">

                </div>
            </div>
        </div>
    </div>

    <div id="additional_words_modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Дополнительные слова</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="additional_words">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var crosswordInfo = {{ crossword_info_in_array|json_encode|raw }};
    </script>
    <script type="module" src="{{ asset('app/Game.js') }}"></script>
{% endblock %}